[alias]
	st = status
	onelog = log --oneline
	ci = commit
	ada = add -A
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
[user]
	email = contact@iamludal.fr
	name = Ludal
	signingkey = contact@iamludal.fr
[pull]
	rebase = true
[core]
	editor = vim
	autocrlf = input
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[init]
	defaultBranch = main
[help]
	autoCorrect = immediate
[push]
	autoSetupRemote = true
[rebase]
	updateRefs = true
