java      temurin-21.0.3+9.0.LTS
nodejs    22.16.0
maven     3.8.4
yarn      1.22.18
quarkus   3.0.0.CR2
terraform 1.13.4
adr-tools 3.0.0
tflint    0.45.0
k9s       0.27.3
postgres  15.2
golang    latest
python    3.13.2
bun       1.2.13
pulumi    3.87.0
mongosh   2.0.2
ruby      3.3.5
uv        0.9.5
