[alias]
	st = status
	onelog = log --oneline
	ci = commit
	ada = add -A
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
[user]
	email = 44783088+iamludal@users.noreply.github.com
	name = Ludal
[pull]
	rebase = false
[core]
	editor = vim
