[alias]
	st = status
	onelog = log --oneline
	ci = commit
	ada = add -A
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
[user]
	email = ludovic.chombeau@gmail.com
	name = Ludal
	signingkey = ludovic.chombeau@gmail.com
[pull]
	rebase = true
[core]
	editor = vim
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[init]
	defaultBranch = main
